/* Experiment styling SVG elements in CSS */
.viruses { fill: burlywood;  }
.viruses text { fill: black; }
.prokaryotes { fill: darkcyan; }
.prokaryotes text { fill: white; }
    .protists { fill: lightgoldenrodyellow; }
    .animals { fill: cornsilk; }
    .fungi { fill: antiquewhite; }
    .plants { fill: lemonchiffon; }