.CAS { fill: aquamarine; }
.CAS text { fill: black; }
.SCDS { fill: darkturquoise; }
.SCDS text { fill: black; }
.Global { fill: deepskyblue; }
.Global text { fill: black; }
.NatSci { fill: cadetblue; }
.NatSci text { fill: black; }
.pre-med { fill: cornflowerblue; }
.pre-med text { fill: black; }
.SocSci { fill: #99ddff; }
.SocSci text { fill: black; }
.Business { fill: darkseagreen; }
.Business text { fill: black; }
.Design { fill: burlywood; }
.Design text { fill: black; }
.Ed { fill: darkkhaki; }
.Ed text { fill: black; }
.ChildBhvr { fill: khaki; }
.ChildBhvr text { fill: black; }
.SOJC { fill: beige; }
.SOJC text { fill: black; }
.SOMD { fill: cornflowerblue; }
.SOMD text { fill: white; }
.EXPL { fill: lightyellow; stroke: green;}
.EXPL text { fill: black; }
